/* ********************** Start Allgemain Eigenschaft*******************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------- Ende Allgemain Eigenschaft--------------------- */
