* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Courier New", Courier, monospace;
}

header,
#App {
    text-align: center;
}

header p {
    font-style: italic;
}

.divToDo {
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: 1px auto;
}

/* .divToDo li {
    background-color: rgb(199, 118, 13);
    width: 50%;
    height: 100%;
    list-style: none;
} */

.liElement {
    width: 50%;
    height: 100%;
    list-style: none;
}

.todoText {
    color: blue;
    font-family: blod;
    width: 50%;
}
.divButton {
    display: flex;
    align-items: center;
}
.edit {
    background-color: rgb(65, 237, 94);
}

.delete {
    background-color: red;
}

.edit {
    float: right;
    margin-right: 10px;
}

.divToDo ul,
.divToDo li {
    background-color: antiquewhite;
    margin: 10px;
    width: 50%;
    margin: auto;
    height: 50px;
}

.divToDO {
    background-color: aliceblue;
    height: 1000px;
    width: 600px;
}

.li-als-input {
    background-color: transparent;
    color: black;
    border: 0px;
    pointer-events: none;
    padding: 15px;
}

.todoList li.completed label.todoText {
    color: #d9d9d9;
    text-decoration: line-through;
}

/* .todoList li.completed label.todoText {
    background-color: rgb(38, 0, 255);
    width: 1200px;
} */

.divFilter {
    display: flex;
    justify-content: space-between;
}

.filters {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
}

.filters li {
    display: inline;
}

.filters li a {
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.filters li a:hover {
    border-color: rgba(168, 159, 223, 0.1);
}
