* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Courier New", Courier, monospace;
    font-family: 'Montserrat', sans-serif;

}

header{
    background-color: #37c6f6;
    background-color: #00BFFF;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    height:15vh;
    text-align: center;
}
header h1{
    padding-top:3%;
    padding-bottom:2%;
}
#date,h2{
    float:left;
    margin:20px;
    display: block;
}

#App {
    text-align: center;
}

header p {
    font-style: italic;
}

.divToDo {
    background-color: aliceblue;
    display: flex;
    justify-items: center;

    width: 100%;
    margin: 1px auto;

}

/* .divToDo li {
    background-color: rgb(199, 118, 13);
    width: 50%;
    height: 100%;
    list-style: none;
} */

.liElement {
    width: 90%;
    text-align: center;
    height: 100%;
    list-style: none;
}

.todoText {
    color: blue;
    width: 50%;
}
.divButton {
    display: flex;
    align-items: center;
}
.edit {
    background-color: rgb(65, 237, 94);
}

.delete {
    background-color: red;
}

.edit {
    float: right;
    margin-right: 10px;
}

.divToDo ul,
.divToDo li {
    background-color: antiquewhite;
    margin: 10px;
    width: 50%;
    margin: auto;
    height: 50px;
}

.divToDO {
    background-color: aliceblue;
    height: 1000px;
    width: 600px;
}

.li-als-input {
    background-color: transparent;
    color: black;
    border: 0px;
    pointer-events: none;
    padding: 15px;
}

#neuTodo{
    width: 85%;
    border-radius:5px;
    padding:8px;
    border: 1px solid grey;
    background-color: #EFECEC;
    padding-left:10vw;
    font-size: 16px;

}

#addTodo{
    padding:5px;
    margin-left: 7%;
    margin-right:10px;
    border-radius:50%;
    border:1px solid white;
    background-color: rgb(114, 234, 255) ;
    border:1px solid black;
    cursor: pointer;
}
#addTodo:hover{
    background-color: rgb(208, 238, 251);
    border:1px solid black;

}

#add-section{
    display:flex;
    flex-direction: row;
}

button i{
    margin:5px;
    font-size:1.1rem;
}

button{
    margin:5px;
    
}
